	<!-- Main jumbotron for a primary marketing message or call to action 
    <div class="jumbotron">
      <div class="container">
        <h1>Locataire VIP</h1>
        <p>Simplifiez vous la location</p>
        <p><a class="btn btn-primary btn-lg" href="/#/map">Trouvez un appartement a louer</a></p>
        <p><a class="btn btn-primary btn-lg">Enregistrez votre appartement</a></p>
      </div>
    </div>
	-->
	
	<div id="modal_home" class="modal-panel"></div>
	<div class="btn_container modal-panel">
		<form role="form">
			<div class="form-group">
				<button id="main_btn_loc" type="button" class="btn btn-lg loc" ng-click="go('/search')"> Locataire</button>
				<button id="main_btn_pro" type="button" class="btn btn-lg prop" ng-click="showInputText()"> Proprietaire</button>
			</div>
			<div class="form-group">
				<label class="sr-only" for="proprio_id">Identifiant proprietaire</label>
				<input type="text" class="form-control" id="proprio_id" placeholder="Identifiant proprietaire" ng-show="showProprioId" ng-model="proprioId">
				<button id="main_btn_pro" type="button" class="btn btn-xs prop go" ng-click="goToProprio()" ng-show="showProprioId" >go</button>
			</div>
		</form>
	</div>
