
	<div id="locationList" class="row" style="height: 600px">
	  <div class="col-md-9">
		<div id="map_search" class="map"></div>
	  </div>
	  <div class="col-md-3">
		<div id="list">
			<ul class="locations" )>
				<li ng-repeat="loc in locations" class="loc dynamic" ng-click="selectLocation(loc.id)">
					<div class="price">{{loc.monthlyRent}}$</div>
					<div class="type">{{loc.propertyType}}</div>
					<div class="address">{{loc.address.civicNumber}} {{loc.address.streetName}}</div>
				</li>
			</ul>
		</div>
	  </div>
	</div>


	<div id="locationDetails" ng-show="locationSelected" style="height: 300px" class="loc panel">
	  <div class="panel-heading"><button type="button" class="close" ng-click="locationSelected = false" aria-hidden="true">&times;</button><h3>{{locationSelected.monthlyRent}}$</h3></div>
	  <div class="panel-body">
			<div class="row" >
				<div class="col-md-6">
					<span class="glyphicon glyphicon-globe"></span><span>{{locationSelected..civicNumber}} {{locationSelected.address.streetName}}</span>
				</div>
				<div class="col-md-6">
					<span class="glyphicon glyphicon-dashboard"></span><span>{{locationSelected.propertyType}}</span>
				</div>
			</div>
		</div>
	  </div>
	</div>
		